{% extends "../layouts/navbarResearcherAdmin.twig" %}

{% set pagetitle = 'AdminWall' %}

{% block content %}

    <div class="container-fluid jumbotron">
        <div class="container text-center">
            <h2>
                {{ name }} - Admin Dashboard
            </h2>

            <hr>
            <div class="container">
                {% for post in posts %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4> <span class="blue-text "> {{post.author}} </span> | {{post.creationDate.getTime()|date("dd-MM-yyyy")}} </h4>
                            <form method="post" action="/block" name="block">
                                <input type="hidden" name="userName" value={{ post.author }}>
                                <input type="submit" class="btn btn-default" value="User blocken">
                            </form>
                        </div>
                        <div class="panel-body">
                            {{post.content}}

                            <form method="post" action="/delete" name="delPost">
                                <input type="hidden" name="postIDdelete" value={{ post.messageid }}>
                                <input type="submit" class="btn btn-default" value="Post löschen">
                            </form>

                        </div>
                        <div class="panel-footer">
                            <hr>
                            Kommentare:
                            <br>
                            <br>
                            <ul class="list-group">
                                {% for comment in post.comments %}
                                    <li class="list-group-item">
                                        {{comment.content}} von <span class="blue-text"> {{comment.author}} </span>

                                        <form method="post" action="/delete" name="delComment">
                                            <input type="hidden" name="commentIDdelete " value={{ comment.messageid }}>
                                            <input type="submit" class="btn btn-default" value="Kommentar löschen">
                                        </form>

                                    </li>
                                {% endfor%}
                            </ul>
                        </div>
                    </div>
                {% endfor%}

            </div>

        </div>


        <br><br>

    </div>


    </div>
{% endblock %}