{% extends "../layouts/navbarInternal.twig" %}

{% set pagetitle = 'Dashboard' %}

{% block content %}

    <div class="container-fluid jumbotron">
        <div class="container text-center">
            <h2>
                {{ name }} - Dashboard
            </h2>

            <hr>
            <div class="container">
                {% for post in posts %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4> <span class="blue-text "> {{post.author}} </span> | {{post.creationDate.getTime()|date("dd-MM-yyyy")}} </h4>
                        </div>
                        <div class="panel-body">
                           <h3> {{post.content}} </h3>

                            <form method="post" action="/LikePost" name="LikePost">
                                <input type="hidden" name="postIDlike" value={{ post.messageid }}>
                                <input type="submit" class="btn btn-default btn-sm" value="Post liken">
                                <b class="small">  Likes :  {{ post.likes }}</b>
                            </form>

                        </div>
                        <div class="panel-footer">
                            <hr>
                            Kommentare:
                            <br>
                            <br>
                            <ul class="list-group">
                                {% for comment in post.comments %}
                                    <li class="list-group-item">
                                        {{comment.content}} von <span class="blue-text"> {{comment.author}} </span>

                                        <form method="post" action="/LikeComment" name="LikeComment">
                                            <input type="hidden" name="commentIDlike" value={{ commment.messageid }}>
                                            <input type="submit" class="btn btn-default btn-sm" value="Kommentar liken">
                                            <b class="small">  Likes :  {{ comment.likes }}</b>
                                        </form>

                                    </li>
                                {% endfor%}
                            </ul>
                        </div>
                    </div>
                {% endfor%}

            </div>

        </div>


        <br><br>

    </div>


    </div>
{% endblock %}