{% extends "../layouts/navbarResearcherAdmin.twig" %}

{% set pagetitle = 'ResearcherWall' %}

{% block content %}

    <div class="container-fluid jumbotron">
        <div class="container text-center">
            <h2>
                Statistiken für {{ name }}
            </h2>

            <div class ="container">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Useranzahl</th>
                        <th>Neue User / Zeitraum</th>
                        <th>Logins pro Zeitraum</th>
                        <th>Profilstatus (Senior)</th>
                        <th>Anzahl an Nachrichten</th>
                        <th>Posts pro Zeitraum</th>
                        <th>Kommentare pro Zeitraum</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td> {{stats.userCount}} </td>
                        <td> {{stats.newUserCount}} </td>
                        <td> {{stats.loginCount}}</td>
                        <td> {{stats.seniorStatus}}</td>
                        <td> {{stats.messageCount}}</td>
                        <td> {{stats.postStatistic}}</td>
                        <td> {{stats.commentStatistic}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>


        <br><br>

    </div>


    </div>
{% endblock %}