{% extends "../layouts/navbarResearcherAdmin.twig" %}

{% set pagetitle = 'ResearcherWall' %}

{% block content %}

    <div class="container-fluid jumbotron">
        <div class="container text-center">
            <h2>
                Statistiken für {{ name }}
            </h2>

            <div class ="container">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Anzahl User</th>
                        <th>Posts ingesamt</th>
                        <th>Posts pro Tag</th>
                        <th>Durchschnittliche Länge Posts</th>
                        <th>Kommentare insgesamt</th>
                        <th>Kommentare pro Tag</th>
                        <th>Durchschnittliche Länge Kommentare</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td> {{stats.user}} </td>
                        <td> {{stats.postsnumber}}</td>
                        <td> {{stats.poststday}}</td>
                        <td> {{stats.postlength}}</td>
                        <td> {{stats.commentnumber}}</td>
                        <td> {{stats.commentday}}</td>
                        <td> {{stats.commentlength}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>


        <br><br>

    </div>


    </div>
{% endblock %}