{% extends "../layouts/navbarInternal.twig" %}

{% set pagetitle = 'Wall' %}

{% block content %}

    <div class="container-fluid jumbotron">

        <div class="container" >
            <br>
            <br>
                <h3>{{ displayName }} </h3>
                <h5>{{ name }} - Username</h5>
            <br>
            <div class="col-sm-3">
                <img src="/img/Avatar.jpg" alt="Profilbild" height=150px width=150px class="img-thumbnail"><br><br>

                {% if myWall %}

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">edit Profil</button>
                {%  endif %}
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">Profil bearbeiten</h4>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="/editProfile" name="editProfile">
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Profilname:</label>
                                        <input type="text" class="form-control" name="profilname" placeholder="Name" value="" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="control-label">Kurzbeschreibung:</label>
                                        <input type="text" class="form-control" name="briefdescription" placeholder="Schreib hier etwas ueber dich.." value="" required/>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-default disabled" value="Profil bearbeiten">
                            </div>
                        </div>
                    </div>
                    </div>
                    <br>
                </form>


                {% if NotMyWall %}
                    <form method="post" action="/followUser" name="follow">
                        <input type="submit" class="btn btn-primary" value="User folgen">
                    </form>
                {%  endif %}

                <form method="post" action="/showFriends" name="showFriends">
                    <input type="submit" class="btn btn-default disabled" value="Freunde anzeigen">
                </form><br>



            </div>
            <div class="container">
                    <div class="col-sm-6">
                        {% if myWall %}
                        <form method="post" action="/wall" name="kurzbeschreibung">
                            <p>
                            <h3>Name:</h3>
                                        <input type="text" class="form-control" name="profilname" placeholder="Name" value="" required/>
                            <h3>Kurzbeschreibung:</h3>
                                        <input type="text" class="form-control" name="briefdescription" placeholder="Schreib hier etwas ueber dich.." value="" required/>
                                        <input type="submit" class="btn btn-default" value="editProfil" /><br>


                            </p>
                        </form>
                        {%  endif %}
                    </div>
                    <div class="col-sm-6">
                    {{ abstract }}
                    </div>
                    <div class="col-sm-6">
                        <form method="post" action="/post" name="beitragpost">

                            <input type="hidden" name="select" value="beitragposten">
                            <input type="hidden" name="curruser" value="${user }">

                            <input type="text" class="form-control" name="blogPost" placeholder="Was willst du posten?" value="" required/>
                            <input type="submit" class="btn btn-default" value="Posten" /><br>
                        </form>




                        <hr>

                        <h4> Vorherige Posts: </h4>

                        {% for post in posts %}
                            <div class="panel panel-default">
                                <div class="panel-heading">{{post.creationDate.getTime()|date("dd-MM-yyyy")}}</div>
                                <div class="panel-body">
                                    <h3>{{post.content}}</h3>

                                    <form method="post" action="/LikePost" name="LikePost">
                                        <input type="hidden" name="postIDlike" value={{ post.messageid }}>
                                        <input type="submit" class="btn btn-default btn-sm" value="Post liken">
                                        <b class="small">  Likes :  {{ post.likes }}</b>
                                    </form>

                                </div>
                                <div class="panel-footer">
                                    <form method="post" action="/comment" name="comment">
                                        <input type="hidden" name="postID" value={{ post.messageid }}>
                                        <input type="text" class="form-control" name="comment" placeholder="Dein Kommentar dazu" value="" required/>
                                        <input type="submit" class="btn btn-default btn-sm" value="Kommentar absenden" /><br>
                                    </form>
                                    <hr>
                                    Kommentare:
                                    <br>
                                    <br>
                                    <ul class="list-group">
                                        {% for comment in post.comments %}
                                        <li class="list-group-item">
                                            {{comment.content}} von <span class="blue-text"> {{comment.author}} </span>

                                            <form method="post" action="/LikeComment" name="LikeComment">
                                                <input type="hidden" name="commentIDlike" value={{ commment.messageid }}>
                                                <input type="submit" class="btn btn-default btn-sm" value="Kommentar liken">
                                                <b class="small">  Likes :  {{ comment.likes }}</b>
                                            </form>

                                        </li>
                                        {% endfor%}
                                    </ul>
                                </div>
                            </div>
                        {% endfor%}

                    </div>
            </div>

        </div>
    </div>
{% endblock %}