{% extends "../layouts/navbarInternal.twig" %}

{% set pagetitle = 'Wall' %}

{% block content %}

    <div class="container-fluid jumbotron">

        <div class="container" >
            <br>
            <br>
                <h3>{{ name }} - Profil </h3>
            <br>
            <div class="col-sm-3">
                <img src="/img/Avatar.jpg" alt="Profilbild" height=150px width=150px class="img-thumbnail"><br><br>

                <form method="post" action="/editProfile" name="editProfile">

                    <input type="submit" class="btn btn-default disabled" value="Profil bearbeiten">
                </form>
                <br>

                {% if NotMyWall %}
                    <form method="post" action="/followUser" name="follow">
                        <input type="submit" class="btn btn-primary" value="User folgen">
                    </form>
                {%  endif %}

                <form method="post" action="/showFriends" name="showFriends">
                    <input type="submit" class="btn btn-default disabled" value="Freunde anzeigen">
                </form><br>S



            </div>
            <div class="container">
                    <div class="col-sm-6">
                        {% if editProfilon %}
                        <form method="post" action="/wall" name="kurzbeschreibung">
                            <p>
                            <h3>Name:</h3>
                                        <input type="text" class="form-control" name="briefdescription" placeholder="Name" value="" required/>
                            <h3>Kurzbeschreibung:</h3>
                                        <input type="text" class="form-control" name="briefdescription" placeholder="Schreib hier etwas ueber dich.." value="" required/>
                                        <input type="submit" class="btn btn-default" value="editProfil" /><br>


                            </p>
                        </form>
                        {%  endif %}
                    </div>
                    <div class="col-sm-6">
                    {{ abstract }}
                    </div>
                    <div class="col-sm-6">
                        <form method="post" action="/post" name="beitragpost">

                            <input type="hidden" name="select" value="beitragposten">
                            <input type="hidden" name="curruser" value="${user }">

                            <input type="text" class="form-control" name="blogPost" placeholder="Was willst du posten?" value="" required/>
                            <input type="submit" class="btn btn-default" value="Posten" /><br>
                        </form>




                        <hr>

                        <h4> Vorherige Posts: </h4>

                        {% for post in posts %}
                            <div class="panel panel-default">
                                <div class="panel-heading">{{post.creationDate.getTime()|date("dd-MM-yyyy")}}</div>
                                <div class="panel-body">
                                    {{post.content}}
                                </div>
                                <div class="panel-footer">
                                    <form method="post" action="/comment" name="comment">
                                        <input type="hidden" name="postID" value={{ post.messageid }}>
                                        <input type="text" class="form-control" name="comment" placeholder="Dein Kommentar dazu" value="" required/>
                                        <input type="submit" class="btn btn-default btn-sm" value="Kommentar absenden" /><br>
                                    </form>
                                    <hr>
                                    Kommentare:
                                    <br>
                                    <br>
                                    <ul class="list-group">
                                        {% for comment in post.comments %}
                                        <li class="list-group-item" style="background-color:lightgrey;">
                                            {{comment.content}} von <span class="blue-text"> {{comment.author}} </span>
                                        </li>
                                        {% endfor%}
                                    </ul>
                                </div>
                            </div>
                        {% endfor%}

                    </div>
            </div>

        </div>
    </div>
{% endblock %}